@font-face {
  font-family: 'Disposable-Droid';
  font-style: normal;
  font-weight: 400;
  src: url('./DisposableDroidBB.ttf')
}

body {
  font-family: 'Disposable-Droid';
  font-size: 5vw;
}

.button-container { 
  width: 100%;
  text-align: center;
}

button { 
  background-color: white;
  border: 2px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  font-family: 'Disposable-Droid';
  margin: 0.5rem 0.5rem;
}

button:hover{
  background-color: black;
  color: white;
}